deps
logs
pids
ssl
tts

*__pycache__*
*.log
*.db
*.db-journal
*.db-shm
*.db-wal
*.pid
*.seed
*.uuid
*.conf
*.DS_Store
*.pem
*.swp

known_devices.yaml
secrets.yaml

.idea
.cloud
.config*
.spotify-token-cache
.storage
